body{
  font-family: Arial;
  margin:0;
  background:#f4f6f9;
}

header{
  background:#1f3c88;
  color:white;
  padding:20px;
  text-align:center;
}

nav{
  background:#2f5fd0;
  padding:10px;
  text-align:center;
}

nav a{
  color:white;
  margin:10px;
  text-decoration:none;
}

.container{
  width:90%;
  margin:auto;
}

.card{
  background:white;
  padding:20px;
  margin:15px 0;
  border-radius:10px;
}

.job{
  background:#e8eefc;
  padding:10px;
  margin:10px 0;
  cursor:pointer;
}

.job:hover{
  background:#cfdfff;
}

.login-box{
  width:300px;
  margin:100px auto;
  background:white;
  padding:20px;
  text-align:center;
  border-radius:10px;
}

input{
  width:90%;
  padding:10px;
  margin:5px;
}

button{
  padding:10px 15px;
  margin-top:10px;
  background:#2f5fd0;
  color:white;
  border:none;
  cursor:pointer;
}
